.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:blue;
 

}
.container_emoji {
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
   

  align-items: center;


}
.contador {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:90px;
  font-weight:bold;
  position:absolute;
  top:400px;
}
 @media (prefers-reduced-motion: no-preference) {
  .emoji {
    animation: emoji infinite 10s linear;
    font-size:150px;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 @keyframes emoji {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.container_circle_color{

  display:flex;
  width:100%;
  height:100px;

  position:absolute;
  justify-content:center;
  align-items:center;
}
.container_circle_color div {margin:12px 10px ;
  margin-top:40px;
}
.circle1{
  width:100px;
  height:100px;
  border-radius:150px;
  background-color:white;
  border:5px solid black;
}
.circle2{
  width:100px;
  height:100px;
  border-radius:150px;
  background-color:red;
  border:5px solid black;
}
.circle3{
  width:100px;
  height:100px;
  border-radius:150px;
  background-color:yellow;
  border:5px solid black;
}
.circle4{
  width:100px;
  height:100px;
  border-radius:150px;
  background-color:lightgreen;
  border:5px solid black;
}
